<li>
  <%= content_tag :div, "data-channel-list-id" => channel.id do %>
  <% if unread current_user, channel %>
  <div class="unread-channel">
  <% else %>
  <div>
  <% end %>
    <%= link_to channel_path(channel) do %>
      <span class="link-wrapper"></span>
      # <%= "#{channel.topic}" %>
    <% end %>
  </div>
  <% end %>
</li>
