<script>
  $(function(){
    temp = "<%= id %>";
    $("[data-channel-list-id=" + "'" + temp + "'" + "]").children().first().addClass('current-channel');

    unread_height = $('.unread-msgs').height()+20;
    $('.unread-msgs').nextAll().each(function(){
        unread_height+=$(this).outerHeight(true);
    });
    $('.row-fluid').scrollTop($('.row-fluid').prop('scrollHeight')-unread_height);
  });
</script>
