<textarea id="message-input" data-textarea="message" name="message[content]"></textarea>
<input type="submit" name="commit" value="send" style="display: none" data-send="message" data-disable-with="send" />
