<div class="users-form-container">
    <div class="users-form">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
                <%= f.label :username %><br />
                <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
                <%= f.submit "Sign up", :class => "users-form-submit" %>
            </div>
        <% end %>

        <div class="users-form-links">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
