<div class="users-form-container">
    <div class="users-form">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
            <% end -%>

            <div class="actions">
                <%= f.submit "Log in", :class => "users-form-submit" %>
            </div>
        <% end %>

        <div class="users-form-links">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
