// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-ok
  font-size: 1.5rem
  border: none
  border-top: 3px solid #2AB27B
  border-bottom: 3px solid #2AB27B
  border-radius: 5px
  color: #eeeeee
  cursor: pointer
  background: #2AB27B
  padding: 5px 30px
  text-decoration: none

.button-ok:hover
  border-top: 3px solid #2AB27B
  border-bottom: 3px solid #129C54

.button-ok:active
  border-top: 3px solid #129C54
  border-bottom: 3px solid #2AB27B

#join-channel-btn
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  z-index: 200

.bg-transparent
  background-color: #fff
  opacity: 0.2

.channels-form-container
  width: 25rem
  margin: 5rem auto auto auto
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

  .channels-form
    padding: 4rem

    h2
      margin: 0
      line-height: 2rem

    .field
      padding: 1.5rem 1.5rem 0 1.5rem

    .actions
      margin-top: 10rem
      margin-bottom: 3rem
      float: right

.channels-browser
  margin: 2rem auto

  .channels-browser-header
    display: flex

    h1
      margin: 0
      line-height: 2rem

    .button-ok
      float: right
      margin-left: 20rem
      text-decoration: none

  .channels-list-container
    height: 70%
    margin-top: 4rem
    overflow-y: scroll
    position: relative
    color: #555459

    a
      color: inherit
      text-decoration: none

      .channels-browser-row
        padding: .5rem 0 1rem .5rem
        width: 100%
        border-top: 1px solid #e8e8e8
        border-radius: 3px

      .channels-browser-row:hover
        background-color: #edf7fd
        border: 1px solid #52c8e8

