// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-gutter
  img
    max-width: 80%
    max-height: 80%
    padding-top: .3rem
