.users-form-container
  width: 25rem
  margin: 5rem auto
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

  .users-form
    padding: 4rem

    #error_explanation

      h2
        display: none

      ul
        color: red

        li
          padding-top: .3rem


    h2
      margin: 0
      line-height: 2rem

    .field
      padding: 1.5rem 1.5rem 0 1.5rem

    .actions
      margin-top: 2rem
      float: right

      .users-form-submit
        font-size: 1.5rem
        border: none
        border-top: 3px solid #2AB27B
        border-bottom: 3px solid #2AB27B
        border-radius: 5px
        color: #eeeeee
        cursor: pointer
        background: #2AB27B
        padding: 5px 30px

      .users-form-submit:hover
        border-top: 3px solid #2AB27B
        border-bottom: 3px solid #129C54

      .users-form-submit:active
        border-top: 3px solid #129C54
        border-bottom: 3px solid #2AB27B

    .users-form-links
      margin-top: 8rem
