// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*
  box-sizing: border-box

div, header
  display: block

html
  height: 100%
  font-size: 100%

button
  cursor: pointer

ol, ul
  padding: 0
  margin: 0 0 12px 25px

body
  height: 100%
  width: 100%
  font-size: 1rem
  line-height: 1rem
  margin: 0
  padding: 0
  display: flex
  flex-direction: column

  #client-ui
    // position: absolute
    height: 100%
    right: 0
    bottom: 0
    left: 0

    display: flex
    flex-direction: column

.client-container
  display: flex
  flex-grow: 1
  overflow-y: hidden

  .client-channels-list-container
    position: relative
    width: 13.75rem
    flex: 0 0 13.75rem

    #col-channels-bg
      width: 100%
      height: auto
      background: #4d394b

    #team-menu
      width: 100%

      .team-name-container
        display: flex
        margin-bottom: -2px
        margin-top: .5625rem!important
        line-height: 1.075rem

        #team-name
          font-size: 1.325rem
          line-height: 1.375rem
          max-width: 9.12rem

      #presence-container
        float: left
        width: 20px
        margin-top: -1px
        text-align: center

        #presence
          display: inline-block
          background-color: #38958b
          width: 9px
          height: 9px
          border-radius: 100%

      .current-user-name
        color: #ab9ba9

    #col-channels
      width: 100%
      top: 0
      overflow: hidden

      #channels-scroller
        height: 632px
        visibility: visible
        padding: 0 0 5rem
        overflow-y: hidden
        overflow-x: hidden
        border-right: .25rem solid transparent

  .client-main-container
    position: relative
    display: flex
    flex-direction: column
    flex-grow: 1

    #client-header
      flex: none
      position: static

      .channel-header
        margin: 0

    #client-body
      margin-top: 0
      overflow: hidden
      background: #ccc
      display: flex
      flex: 1

      #col-messages
        flex: 1
        display: flex
        flex-direction: column

        #footer
          position: relative
          left: 0
          right: 0
          order: 1
          margin-top: auto
          z-index: 99

        .row-fluid
          flex: 1 1 auto
          width: 100%
          position: relative
          dispaly: flex
          overflow-y: scroll

          #messages-container
            margin-left: 0
            position: absolute
            width: 100%

            #msgs-scroller-div
              overflow-x: hidden
              border-right: .25rem solid transparent
              outline: 0

              #msgs-div
                padding-bottom: 0
                margin: 0
                clear: both

.day-container
  position: relative

  .unread-msgs
    margin: 0
    pointer-events: none
    padding: 0
    font-size: .9rem
    line-height: 1rem
    font-weight: 700
    text-align: center
    cursor: default
    clear: both
    position: relative

    .unread-msgs-label
      top: -6px
      padding: .25rem .75rem
      display: inline-block
      margin: 0 auto
      position: relative
      color: red

  .day-divider
    margin: 0
    pointer-events: none
    padding: 0
    font-size: .9rem
    line-height: 1rem
    font-weight: 700
    text-align: center
    cursor: default
    clear: both
    position: relative

    .day-divider-label
      top: -6px
      padding: .25rem .75rem
      display: inline-block
      margin: 0 auto
      position: relative

  .day-msgs
    margin: -18px 0 0
    padding: 1.75rem 0 1.25rem
    border-top: 1px solid #e8e8e8

    .message
      display: block
      width: 100%
      margin: 0 auto -.0625rem
      position: relative
      padding-bottom: .125rem
      padding-left: 0
      padding-right: 2.5rem
      border-left: none
      border-right: none
      border-top: 1px solid transparent
      border-bottom: 1px solid transparent
      font-size: .9375rem
      line-height: 1.375rem
      word-wrap: break-word

      .message-gutter
        width: 4.5rem
        padding-right: .625rem
        text-align: right
        position: absolute
        top: 0
        left: 0

      .message-content
        margin-top: .0625rem
        margin-left: 4.5rem

        .message-content-header
          display: inline
          align-items: baseline
          font-weight: bold

        .message-content-time
          display: inline
          padding-left: .4rem
          font-size: .85rem
          color: gray

        .message-body
          margin-top: -.125rem
          display: block
          cursor: text

.row-fluid:after, .row-fluid:before
  display: table
  content: ""
  line-height: 0

.row-fluid:after
  clear: both

#messages-input-container
  font-size: .9rem
  position: absolute
  bottom: 1.375rem
  left: 4rem
  right: .25rem
  padding-right: 1rem
  box-shadow: none
  height: 42px

  #message-input
    overflow-y: hidden
    height: 42px
    background: #fff
    width: 100%
    font-size: .9375rem
    line-height: 1.2rem
    border: 2px solid #e0e0e0
    background-clip: padding-box
    margin: 0
    outline: 0
    position: absolute
    bottom: 0
    padding-top: .5625rem
    padding-bottom: .5625rem
    padding-left: .5rem
    padding-right: .5625rem
    max-height: 10rem!important
    resize: none!important

#message-form
  position: relative
  margin: 0
  height: 42px

#footer
  bottom: 0
  height: 4rem
  margin-right: 1rem

#col-messages
  margin-left: 0
  position: relative

#client-body:before
  position: absolute
  left: 220px
  right: 0
  z-index: 99
  background: #000

.channel-title
  flex: 1
  margin-top: -2px

  .channel-name-container
    display: flex
    margin: 0 0 -2px
    line-height: 1.3
    font-size: 1.125rem
    font-weight: 900

    .channel-name
      display: flex
      padding: 0 .1rem 0 1.4rem

.messages-header
  display: flex
  flex: 1

.channel-header
  display: flex
  background: #ffa
  padding: .7rem 0 0
  height: 100%

#client-header
  background: 0 0
  height: 61px
  z-index: 100
  width: 100%

#col-channels-bg
  z-index: 0
  width: 220px
  height: 1800px
  position: absolute
  top: 0
  left: 0
  bottom: 0
  left: 0

#team-menu
  font-size: 1rem
  font-weight: 900
  padding: 0 1rem
  color: #fff
  width: 220px
  height: 61px
  background: #4d394b
  float: left
  position: relative
  z-index: 10

#col-channels
  background: #4d394b
  color: #ab9ba9
  width: 220px
  float: left
  position: relative
  bottom: 0

#channels
  width: inherit
  position: relative
  margin: 1rem 0 2rem

  .channels-list-new-btn
    left: calc(112px + 4rem)
    right: auto
    position: absolute
    z-index: 1
    top: -1.5px
    padding: 3px
    font-size: 1.4rem
    cursor: pointer
    opacity: .3
    outline: 0

  .channels-list-new-btn:hover
    opacity: .6

  #channel-list
    max-height: 570px // fixed number
    overflow-y: scroll

.channels-list-holder
  h2
    cursor: pointer
    text-align: left
    font-size: .8rem
    line-height: 1.25rem
    margin: 0 1rem .1rem
    text-transform: uppercase
    font-weight: 700
    color: #ab9ba9
    width: 165px
    position: relative
    display: block
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    display: block

  h2.hoverable
    cursor: pointer

  h2:hover
    color: white

  button
    color: inherit

  channels-list-header-label
    display: block
    text-transform: inherit
    color: inherit
    outline: 0
    text-align: left

  ul
    list-style-type: none
    text-align: left
    color: #ab9ba9
    margin: 0 1px 0 0
    width: 12.75rem
    padding-left: 2rem // TODO

    li
      overflow: hidden
      font-size: 1rem
      line-height: 1.5rem
      height: 1.5rem
      margin-right: 1px
      position: relative
      clear: both
      border-radius: 3px

      a
        color: inherit
        text-decoration: none

    li:hover
      background-color: #3e313c

.btn-unstyle
  background: 0 0
  border: none
  outline: none
  padding: 0
  font-size: inherit
  font-weight: inherit
  line-height: inherit

.link-wrapper
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

.unread-channel
  font-weight: 900
  color: #fff

.current-channel
  font-weight: 100!important
  color: #fff!important
  background-color: #4c9689!important

.link-unstyle
  color: inherit
  text-decoration: none
