<!DOCTYPE html>
<html>
    <head>
        <title>Slacc</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div class="notification-banner">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
          <% end %>
        </div>
        <% if !user_signed_in? %>
            <%= yield %>
        <% else %>
            <div id="client-ui">
                <div class="client-container">
                    <%= render partial: "common/sidebar", locals: { :channels => channel_lists } %>
                    <%= yield %>
                </div>
            </div>
        <% end %>
    </body>
</html>
